<div class="container">
	<h2>GENERATED WITH YEOMAN</h2>
	<%if (gallery === true) { %>
	<div class="row">
		<div class="gallery-container">
			{% plugin gallery gallery-name %}
			{% marker gallery-name %}
			    {% for entry in gallery-name.entries %}
			    <div class="entry">
				    <div class="entry-body">
				        {{ entry.body }}
				    </div>
				    <div class="entry-description">
				        {{ entry.description }}
				    </div>
				</div>
			    {% endfor %}
			{% endmarker %}
		</div>
	</div>
	<% } %><%if (sweepstakes === true) { %>
	<div class="row">
		<div class="sweeps-container">
			{% plugin sweeps sweeps_settings %}
			{% marker sweeps_settings %}
			 
			    {% for message in sweeps_settings.messages %}
			        {{ message.text }}
			    {% endfor %}
			     
			    {% if sweeps_settings.has_ended %}
			        {{ sweeps_settings.after_content }}
			    {% elsif sweeps_settings.completed %}
			        <!-- whatever alternate content to show -->
			        {% if sweeps_settings.thank_you_code_result %}
			            {{ sweeps_settings.thank_you_code_result }}
			        {% endif %}
			    {% elsif sweeps_settings.has_not_started %}
			        {{ sweeps_settings.before_content }}
			    {% else %}
			        {% formblock sweeps_settings %}
			            {% for field in sweeps_settings.fields %}
			                {{ field.body }}
			            {% endfor %}
			            <div class="policy-container">
			            	<div class="policy-checkbox">
					            {{ sweeps_settings.policy_checkbox }}
					        </div>
					        <div class="submit-btn">
					            {{ sweeps_settings.submit_button }}
					        </div>
				        </div>
			        {% endformblock %}
			    {% endif %}
			{% endmarker %}
		</div>
	</div>
	<% } %><%if (voting === true) { %>
	<div class="row">
		<div class="voting-gallery-container">
			{% plugin voting voting_settings %}
			{% marker voting_settings %}
			    {% formblock voting_settings %}
			        {% for entry in voting_settings.entries %}
			        <div class="entry">
			        	<div class="entry-body">
				            {{ entry.body }}
				        </div>
			            {% if voting_settings.completed %}
			                <!-- no more votes available for the plugin; show results -->
			                <div class="entry-result">
				                {{ entry.result }}
				            </div>
			            {% elsif entry.completed %}
			                <!-- user has already voted on this entry; show a text or checkmark or something, but not the final results yet -->
			                <p>Voted!</p>
			            {% else %}
			                <!-- user can vote on this entry -->
			                <div class="vote-btn">
				                {{ entry.vote_button }}
				            </div>
			            {% endif %}
			        </div>
			        {% endfor %}
			        {{ voting_settings.share_confirmation }}
			    {% endformblock %}
			{% endmarker %}
		</div>
	</div>
	<% } %><%if (stories === true) { %>
	<div class="row">
		<div class="stories-container">
			{% plugin stories stories_settings %}
			{% marker stories_settings %}
			    {% if stories_settings.completed %}
			        this is the gated content
			    {% else %}
			        {{ stories_settings.form }}
			    {% endif %}
			    {{ stories_settings.recent_activity }}
			{% endmarker %}
		</div>
	</div>
	<% } %><%if (posttowall === true) { %>
	<div class="row">
		<div class="post-to-wall-container">
			{% plugin post_to_wall post_to_wall_settings %}
			{% marker post_to_wall_settings %}
				{{ post_to_wall_settings }}
			{% endmarker %}
		</div>
	</div>
	<% } %><%if (sendamessage === true) { %>
	<div class="row">
		<div class="send-a-message-container">
			{% plugin send_a_message send_a_message_setttings %}
			{% marker send_a_message_setttings %}
				{{ send_a_message_setttings }}
			{% endmarker %}
		</div>
	</div>
	<% } %><%if (signup === true) { %>
	<div class="row">
		<div class="signup-form-container">
			{% plugin signup_form signup_form_settings %}
			{% marker signup_form_settings %}
			    {% for message in signup_form_settings.messages %}
			        <span class="messages">{{ message.text }}</span>
			    {% endfor %}
			    {% if signup_form_settings.completed %}
			        <!-- whatever alternate content to show -->
			    {% else %}
			        {% formblock signup_form_settings %}
			            {% for field in signup_form_settings.fields %}
			                {{ field.body }}
			            {% endfor %}
			            <div class="signup-submit-btn">
				            {{ signup_form_settings.submit_button }}
				        </div>
			        {% endformblock %}
			    {% endif %}
			{% endmarker %}
		</div>
	</div>
	<% } %>
</div>

<script type="text/javascript">
	if (!window.console) window.console={log:function(){}};

	(function($){
		$(document).ready(function(){
			// document is ready
		});
	})(jQuery);
</script>